/* google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* use external font */
@font-face {
    font-family: "Miama";
    src: url("./../fonts/Miama.otf"), url("./../fonts/Miama.ttf");
}

/* universal style */
* {
    margin: 0;
    padding: 0;
}


/* shared style */
.container {
    width: 73%;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
}

img {
    width: 100%;
}

.text-primary {
    color: rgba(255, 255, 255, 1)
}

.bg-primary {
    background: rgba(0, 0, 0, 1);
}

.btn-primary {
    padding: 16px 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 42px;
    border: 0;
}



/* header styles */
.header {
    background: linear-gradient(180deg, rgba(24, 24, 24, 1) 0%, rgba(24, 24, 24, 1) 50%, rgba(105, 105, 105, 1) 100%);
    margin-bottom: -4px;
}

.nav-menu {
    display: flex;
    padding-top: 3.5rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: center;
}

.logo {
    font-size: 2.25rem;
    color: rgba(230, 83, 60, 1);
}

.nav {
    display: flex;
    gap: 3rem;
    padding: .25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
}

.nav-item {
    list-style: none;
    padding: 8px 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.active {
    border-radius: 46px;
    background-color: rgba(230, 83, 60, 1);
}

.menu-bars {
    display: none;
}

.herobox {
    display: flex;
    align-items: center;
    gap: 16%;
}

.hero-content {
    width: 49%;
}

.hero-img {
    width: 33%;
    position: relative;
}



.hero-title {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;
}

.shape {
    font-family: "Miama", sans-serif;
    font-weight: 400;
}

.top-margin {
    margin-top: 100px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.workout {
    padding: 17px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: #373737d0;
    position: absolute;
    width: 193px;
    top: 125px;
    left: 230px;
    cursor: pointer;
}

.workout h2 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 6px;
}

.workout p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}



.tutorial {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #373737d0;
    border-radius: 12px;
    position: absolute;
    top: 0;
    display: flex;
    padding: 20px 23px;
    gap: 20px;
    align-items: center;
    left: -113px;
    top: 417px;
    cursor: pointer;
}

.ball {
    background-color: rgba(230, 83, 60, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tutorial h3 {
    color: rgba(250, 250, 249, 1);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 5px;
}

.tutorial p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(239, 237, 232, 0.65);
}

.hero-content button {
    margin-top: 28px;
}

.join-club {
    border-radius: 42px;
    background: rgba(230, 83, 60, 1);
    margin-right: 14px;
}


.download {
    border: 1px solid rgba(255, 255, 255, 1);
    background: none;
}

.hidden {
    display: none;
}



/* habits styles */
.habits {
    padding-top: 100px;
    padding-bottom: 99px;
}

.habits h3 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.habits p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.habits-content {
    width: 64%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.box-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    text-align: center;
}

.box img {
    border-radius: 50%;
}


.box h5 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 6px;
}

.box p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}



/* run style */
.run {
    border-radius: 18px;
    background: rgba(34, 34, 34, 1);
    padding: 30px 30px 30px 54px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.left-content {
    width: 42%;
}

.left-content h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.left-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
    line-height: 24px;
}

.left-content button {
    background-color: rgba(230, 83, 60, 1);
}

.right-img {
    width: 35%;
}

.right-img img {
    height: 100%;
    border-radius: 18px;
}


/* training styles */
.training {
    margin-bottom: 88px;
}

.training h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.training p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}

.training-container {
    margin-top: 58px;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
}

.item {
    height: 202px;
    display: flex;
}

.item p {
    font-size: 14px;
    font-weight: 400;
    padding: 31px;
}




.item-1 {
    width: 23%;
    background-image: linear-gradient(rgba(6, 255, 210, 0.5)), url('./../images/exercise1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: end;
}

.item-1 p {
    color: rgba(0, 0, 0, 1);
}


.item-2 {
    width: 50%;
    background-image: linear-gradient(rgba(255, 0, 0, 0.3)), url("./../images/exercise2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.item-3 {
    width: 27%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("./../images/exercise3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: end;
}

.item-4 {
    width: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("./../images/exercise4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: end;
}

.item-5 {
    width: 27%;
    background-image: linear-gradient(rgba(66, 255, 0, 0.3)), url("./../images/exercise5.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: end;
}

.item-6 {
    width: 33%;
    background-image: linear-gradient(rgba(0, 71, 255, 0.3)), url("./../images/exercise6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: end;
}


/* bmi styles */
.bmi-content {
    width: 63%;
    padding-left: 200px;
    margin-bottom: 88px;
}

.bmi-content h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}


/* bmi calculate and chart */
#calculate {
    background-color: rgba(34, 34, 34, 1);
    margin-bottom: 88px;
}

.calculate-container {
    padding: 52px 0;
    display: flex;
    justify-content: space-between;
}


.bmi-title {
    font-size: 28px;
    font-weight: 900;
}

.calculate-bmi {
    width: 54%;
}


.calculate-bmi p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
}

table {
    margin-top: 52px;
}

th {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 17px;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 27px;
    border-collapse: collapse;
}

form {
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

form button {
    background: rgba(230, 83, 60, 1);
}

input[placeholder],
select {
    padding: 13px 20px;
    color: #6F6F6F;
    font-size: 16px;
    font-weight: 400;
}

option {
    background-color: #393939;
}

#activity {
    grid-column: 1 / 3;
    margin-bottom: 34px;
}

input,
select {
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}


/* team style */
.team-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

#team {
    padding-bottom: 88px;
}

.team-content h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.team-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 900;
}

.team-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.team {
    min-height: 272px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 16px 19px;
}

.team h4 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 3px;
}

.team p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.team-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer1.png');
    display: flex;
    align-items: end;
}

.team-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer2.png');
    display: flex;
    align-items: end;
}

.team-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer3.png');
    display: flex;
    align-items: end;
}

.team-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer4.png');
    display: flex;
    align-items: end;
}

.team-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer5.png');
    display: flex;
    align-items: end;
}

.team-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url('./../images/trainer6.png');
    display: flex;
    align-items: end;
}


/* footer styles */
#footer {
    background-color: #1A1A1A;
    padding-top: 66px;
    padding-bottom: 35px;
}

.footer-title {
    color: rgba(230, 83, 60, 1);
    font-size: 70px;
    font-weight: 400;
}

.fitness {
    width: 42%;
}

.fitness p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}

.get-started {
    width: 17%;
}

.get-started h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 1);
}


.get-started ul li {
    list-style: none;
    padding: 10px 0;
}

.get-started ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 79px;
    border-bottom:  2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}

.copywrite {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}






/* 
responsive web design 
for mobile and tablet device
*/

/* large device */
@media (max-width:992px) {
    .workout {
        right: 0;
    }
}


/* medium device */
@media (max-width:992px) and (min-width:576px) {

    /* header styles */
    .container {
        width: 90%;
    }

    .nav {
        gap: 1.25rem;
    }

    .herobox {
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }

    .hero-content,
    .hero-img {
        width: 90%;
    }

    .hero-img {
        text-align: center;
    }

    .tutorial {
        left: 0;
    }

    .workout {
        left: 350px;
    }

    .hidden {
        display: inline-block;
    }

    .top-margin {
        margin: 0;
    }



    /* habits styles */
    .box-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .habits-content {
        width: 100%;
    }


    /* run styles */
    .left-content,
    .right-img {
        width: 50%;
    }


    /* bmi styles */
    .bmi-content {
        width: 100%;
        padding-left: 0;
    }

    /* bmi calculate and chart */
    .calculate-container {
        flex-direction: column;
        gap: 62px;
    }

    .calculate-bmi {
        width: 90%;
    }


    /* footer styles */

    .fitness {
        width: 100%;
        margin-bottom: 100px;
    }


    .get-started {
        width: 50%;
    }


    .footer-container {
        flex-wrap: wrap;
    }



}


/* small device */
@media (max-width:576px) {
    .container {
        width: 90%;
    }

    .nav {
        display: none;
    }

    .menu-bars {
        display: block;
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
    }


    .herobox {
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }

    .hero-content,
    .hero-img {
        width: 90%;
    }

    .hero-img {
        text-align: center;
    }

    .tutorial {
        left: 0;
    }

    .workout {
        left: 35%;
    }

    .hidden {
        display: inline-block;
    }

    .top-margin {
        margin: 0;
    }

    /* habits styles */
    .box-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habits-content {
        width: 100%;
    }


    /* run style */

    .run {
        flex-direction: column;
        gap: 31px;
    }

    .left-content,
    .right-img {
        width: 100%;
    }

    /* exercise style */
    .item-1 {
        width: 55%;
    }

    .item-2 {
        width: 45%;

    }

    .item-3 {
        display: none;
    }

    .item-4 {
        width: 45%;

    }

    .item-5 {
        width: 55%;

    }

    .item-6 {
        display: none;
    }

    /* bmi styles */
    .bmi-content {
        width: 100%;
        padding-left: 0;
    }


    /* bmi calculate and chart */
    .calculate-container {
        flex-direction: column;
        gap: 62px;
    }

    .calculate-bmi {
        width: 80%;
    }

    input,
    select {
        width: 100%;
    }

    /* team style */
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }


    /* footer styles */
    .fitness {
        width: 100%;
        margin-bottom: 30px;
    }

    .get-started {
        width: 100%;
    }


    .footer-container {
        flex-wrap: wrap;
    }



}